<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My first website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <img src="https://uploads.kodilla.com/bootcamp/py/08/code.jpg" alt="Laptop screen with code" title="Code">
        <ul>
            <li class='omnie'><a href='aboutme'>O mnie</a></li>
            <li class='kontakt'><a href='contact'>Kontakt</a></li>
        </ul>

        
    </head>
    <body>

    </body>
</html>
